@media screen and (max-width: 800px) {
  header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    z-index: 5;
    background: #fff;
  }
  .introduction {
    background-image: url(../img/new.png);
    background-size: contain;
    .intro-text {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .greeting {
        h5 {
          font-size: 10px;
        }
      }
      .main-intro {
        padding-top: 0px;
        h1 {
          font-weight: bold;
          font-size: 15px;
          line-height: 30px;
        }
        p {
          font-size: 10px;
        }
        .btn {
          top: 5px;
          button {
            width: 80px;
            height: 30px;
            font-size: 10px;
          }
        }
      }
    }
  }
  .about {
    height: 100vh;
    width: 100%;
    z-index: 2;
    h1 {
      padding-top: 60px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
  #about-para {
    background-color: rgba(255, 255, 255, 0.801);
    position: relative;
    top: 100px;
    left: -50px;
    font-size: 15px;
    &::after {
      content: "HTML, SASS, JAVASCRIPT, CSS, LESS, GIT, and Python";
    }
  }
  .box {
    position: relative;
    top: 80px;
    left: -80px;
    .img {
      display: none;
    }
  }

  .projects {
    padding: 10%;
    width: 100%;
    .box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-flow: column;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 38vh;
        margin-left: 35%;
        // margin-right: 20%;
        .card-img {
          overflow: visible;
          height: 40vh;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .card-text {
          position: absolute;
          transform: translateX(0px);
          background: #fff;
          width: 100%;
          height: 200px;
          z-index: 0;
          opacity: 0;
          p {
            position: relative;
            top: 50%;
            font-size: 10px;
          }
          h3 {
            position: relative;
            top: 50%;
            padding: 0;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            font-size: 15px;
          }
          &:hover {
            opacity: 1;
            z-index: -5;
            height: 200px;
            h3 {
              padding-top: 0;
            }
            background: rgba(255, 255, 255, 0.623);
            opacity: 1;
            z-index: 2;
            box-shadow: 0 1px 10px 0 rgb(65, 64, 64);
          }

          #link-box {
            position: relative;
            top: 50%;
            .git {
              img {
                height: 80%;
                width: 80%;
              }
            }
            .btn {
              button {
                width: 80px;
                height: 30px;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
#contact {
  height: auto;
  form {
    padding: 20px;
  }
  input {
    padding: 0;
  }
}
.footer {
  top: 6rem;
}
@media screen and (max-width: 500px) {
  .projects {
    padding: 0;
    .box {
      .card {
      }
    }
  }
}
